<section class="main-section">
  <p class="sec__heading">Hi, my name is</p>
  <div class="heading">
    <h1 class="name__heading">Flakron Ademi.</h1>
    <h1 class="role__heading">I am a Full-Stack Web Developer.</h1>
  </div>
  <p class="sec__desc" >
    I am a creative and self-motivated full-stack developer.
    Programming has always been my passion.
    It's something that I never get tired of it. I love to dig into
    customer problems and solve them with modern technology.
  </p>
  <div class="btn-container">
    <a class="btn" href="/assets/resume.pdf">Resume</a>
  </div>
</section>
