:root {
  --bg-primary-color: #c54ff8;
  --primary-text-color: #42163f;
  --secondary-text-color: #ff91ff;
  --heading-sec-color: #cccccc;
  --img-fill-color: #f3f3f3;
  --text-font-family: "Grenze";
  --heading-font-family: "Calistoga";
  --f-xxs: 12px;
  --f-xs: 13px;
  --f-sm: 14px;
  --f-md: 16px;
  --f-lg: 18px;
  --f-xl: 20px;
  --f-xxl: 22px;
  --f-heading: 32px;
}
